.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
data/*
!data/*.txt
result-*.txt
java.hprof*
**/.idea/workspace.xml
**/.idea/dictionaries/*
**/.idea/tasks.xml
